.tpro__whattpro {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-footer);
  background: -moz-radial-gradient(circle at 30% -100%, #462b00 25%, rgba(76, 46, 0, 1) 85%, rgb(189, 113, 0) 100%);
  background: -webkit-radial-gradient(circle at 30% -100%, #462b00 25%, rgba(76, 46, 0, 1) 85%, rgba(189, 113, 0, 1) 100%);
  background: -o-radial-gradient(circle at 30% -100%, #462b00 25%, rgba(76, 46, 0, 1) 85%, rgba(189, 113, 0, 1) 100%);
  background: -ms-radial-gradient(circle at 30% -100%, #462b00 25%, rgba(76, 46, 0, 1) 85%, rgba(189, 113, 0, 1) 100%);
  background: radial-gradient(circle at 30% -100%, #462b00 25%, rgba(76, 46, 0, 1) 85%, rgba(189, 113, 0, 1) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tpro__whattpro-feature {
  display: flex;
}

.tpro__whattpro-feature .tpro__features-container__feature {
  margin: 0;
}

.tpro__whattpro-feature .tpro__features-container_feature-text {
  max-width: 700px;
}

.tpro__whattpro-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
}

.tpro__whattpro-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.tpro__whattpro-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.tpro__whattpro-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

.tpro__whattpro-container .tpro__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

.tpro__whattpro-container .tpro__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .tpro__whattpro-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .tpro__whattpro-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .tpro__whattpro-feature .tpro__features-container__feature {
    flex-direction: column;
  }

  .tpro__whattpro-feature .tpro__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .tpro__whattpro-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .tpro__whattpro-container .tpro__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}